.profile__edit-button {
    background-image: url(../../../images/profile__edit-button.png);
    background-size: contain;
    background-repeat: no-repeat;
    max-width: 24px;
    width: 100%;
    min-height: 24px;
    margin-left: 18px;
    align-self: center;
}