.popup__input-error {
    opacity: 0;
    font-weight: normal;
    font-size: 12px;
    line-height: 1.2;
    color: #FF0000;
    padding: 0;
    margin: 0 0 -30px;
    min-height: 30px;
    display: block;
}