.profile__inline {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 0;
}

@media screen and (max-width: 780px) {
    .profile__inline {
        justify-content: center;
    }
}