.popup__close-button {
    width: 40px;
    height: 40px;
    background-size: contain;
    color: initial;
    position: absolute;
    top: -35px;
    right: -35px;
    cursor: pointer;
    background-image: url(../../../images/popup__close-button.svg);
    background-color: #f000;
    border: none;
}

.popup__close-button:hover {
    opacity: 0.6;
    transition: 0.3s ease-in;
}

@media screen and (max-width: 700px) {
    .popup__close-button {
        top: -40px;
        right: -8px;
    }
}