.popup__input-error {
    border-bottom-color: red;
    opacity: 0;
    font-weight: normal;
    font-size: 12px;
    line-height: 1.2;
    color: #FF0000;
    position: absolute;
    top: calc(100% + 5px);
}