.header__logo {
    padding-bottom: 41px;
}

@media screen and (max-width: 920px) {
    .header__logo {
        padding-left: 27px;
    }
}

@media screen and (max-width: 600px) {
        .header__logo {
            padding-bottom: 31.6px;
            max-width: 103.74px;
            width: 100%;
        }
    }