.element__trash-icon {
    background-image: url(../../../images/element__trash-icon.svg);
    background-repeat: no-repeat;
    padding: 0;
    border: none;
    color: inherit;
    background-color: transparent;
    position: absolute;
    top: 18px;
    right: 15px;
    height: 18px;
    background-position: center;
    width: 100%;
    max-width: 19.3px;
    cursor: pointer;
}

.element__trash-icon:hover {
    opacity: 0.6;
}