.element {
    border-radius: 10px;
    max-width: 282px;
    width: 100%;
    overflow: hidden;
    background-color: #FFFFFF;
    position: relative;
}

.element:hover {
    opacity: 0.8;
    transition: 0.2s ease-in;
}