.profile__info-list {
    list-style: none;
    color: #FFF;
    padding: 0;
    margin: 0;
    align-items: center;
}

/* @media screen and (max-width: 780px) {
    .profile__add-button {
        max-width: 80vw;
        min-width: 282px;
        margin-top: 36px;
    }
} */