.profile__job {
    font-weight: normal;
    font-size: 18px;
    line-height: 1.2;
    color: #FFFFFF;
    padding: 16px 0 0;
    margin: 0;
}

@media screen and (max-width: 600px) {
    .profile__job {
        padding: 0;
    }
}